* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #173F54;
	padding-top: 30px;
}

.link-graph-top{
	padding: 15px 25px 5px;
	color: #fff;
	font-size: 12px;
}
.link-graph-top > div{
	margin-bottom: 10px;
} 
.link-graph-top .layui-form-label {
    padding: 6px 0px;
    width: auto;
	margin-right: 6px;
    line-height: 20px;
}
.link-graph-top > div{
	margin-right: 17px;
}
.link-graph-top .layui-form-item .layui-input-inline {
    width: 158px;
    margin-right: 10px;
}
.link-graph-top .layui-form-select .layui-input {
    padding-right: 30px;
	background: #0E3448;
	border: 1px solid #206A79;
	border-radius: 2px;
	color: #fff;
	height: 32px;
	line-height: 32px;
}
.link-graph-top .layui-form-select .layui-input:hover,.link-graph-top .layui-form-select .layui-input:focus{
	border-color:#206A79!important;
	box-shadow: none;
}
.link-graph-top .layui-form-select .layui-edge {
    border-top-color: #8ea9b7;
}
.link-graph-btn-wrap{
	margin-right: 7px !important;
}
.link-graph-btn-wrap > div{
	background-image: linear-gradient(-179deg, #1A4359 0%, #163B4E 100%);
	background-image: linear-gradient(-179deg, #143B4F 0%, rgba(14,52,72,0.00) 100%);
	border: 1px solid #206A79;
	box-shadow: 0 1px 2px 0 rgba(18,47,52,0.40), inset 0 -6px 6px 0 rgba(0,250,252,0.05);
	border-radius: 3px;
	min-width: 44px;
	height: 32px;
	cursor: pointer;
	position: relative;
}
.link-graph-btn-wrap > div a{
	float: left;
	width: 100%;
	height: 100%;
	transition: background-position 0.2s;
}
.link-graph-btn-wrap > div a.link-graph-btn-1{
	background: url(../images/icon_link_graph_1.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-2{
	background: url(../images/icon_link_graph_2.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-3{
	background: url(../images/icon_link_graph_3.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-4{
	background: url(../images/icon_link_graph_4.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-5{
	background: url(../images/icon_link_graph_5.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-6{
	background: url(../images/icon_link_graph_6.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-7{
	background: url(../images/icon_link_graph_7.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-8{
	background: url(../images/icon_link_graph_8.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-9{
	background: url(../images/icon_link_graph_9.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-10{
	background: url(../images/icon_link_graph_10.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a.link-graph-btn-11{
	background: url(../images/icon_link_graph_11.png) no-repeat center -1px;
}
.link-graph-btn-wrap > div a:hover{
	background-position: center -33px;
}

.link-graph-btn-wrap > div.link-graph-btn-tab{
	border: none;
}
.link-graph-tab-top{
	height: 100%;
	border: 1px solid #206A79;
	border-radius: 3px;
}
.link-graph-tab-top li{
	float: left;
	width: 51px;
	height: 30px;
	border-right: 1px solid rgba(32,106,121,0.50);
	border-bottom: 1px solid transparent;
}
.link-graph-tab-top li.active{
	border-bottom-color: transparent;
	background: #12425A;
}
.link-graph-tab-top li.active a{
	background-position: center -33px;
}
.link-graph-tab-top2{
	border: none;
	height: 100%;
	border-bottom: none;
	border-radius: 3px;
}
.link-graph-tab-top2 li{
	width: 41px;
	min-width: 41px;
	border-bottom: none;
	float: left;
	height: 30px;
	border-right: 1px solid rgba(32,106,121,0.50);
}
.link-graph-tab-top2 li:hover{
	background: none;
}
.link-graph-tab-cont{
	background: #12425A;
	border: 1px solid #206A79;
	border-radius: 0 0 3px 3px;
	width: 100%;
	min-height: 52px;
	position: absolute;
	border-top: none;
	top: 31px;
	padding: 10px 6px 0;
	display: none;
}
.link-graph-tab-cont div{
	width: 100%;
	height: auto;
}
.link-graph-tab-cont a{
	width: 28px !important;
	margin: 0 5px 13px 5px;
	position: relative;
}
.link-graph-tab-cont >div>a.add-icon{
	width: 28px;
	height: 28px;
	opacity: 0.4;
	background: #2C9DD8;
	border-radius: 3px;
	line-height: 28px;
	text-align: center;
	font-size: 28px;
}
.link-graph-tab-cont >div>a.add-icon:hover{
	color: #12425A;
}
.link-graph-tab-cont >div>a>div img{
	display: block;
	position: absolute;
	width: 88%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
/* 控件样式 */
.control-style-wrap{
	position: fixed;
	right: 16px;
	top: 10%;
	width: 228px;
	color: #fff;
	border-radius: 3px;
	font-size: 12px;
}
.control-style-wrap dt{
	background: #154E65;
	line-height: 30px;
	text-indent: 16px;
}
.control-style-wrap dd{
	padding: 16px 24px 8px 0;
	border: 1px solid #195669;
	border-top: none;
}
/* layui元素样式控制 */
.layui-form-item{
	margin-bottom: 8px;
}
.layui-form-label{
	width: 49%;
	padding: 2px 0;
}
.layui-form-item .layui-input-inline {
    width: 102px;
    margin-right: 0px;
}
.layui-input-inline{
	width: 102px;
	min-height:24px;
	text-align: center;
}
.layui-input, .layui-select{
    height: 24px;
    line-height: 24px;
    line-height: 26px\9;
    background: #0E3448;
	border: 1px solid #206A79;
	border-radius: 3px;
	color: #fff;
	padding: 0 5px 0 10px;
	transition: none;
}
.layui-input:hover,.layui-input:focus{
	border-color:#206A79!important;
	box-shadow: none;
}

.layui-form-select .layui-edge {
    border-top-color: #8ea9b7;
}
.layui-form-select dl {
    top: 34px;
    max-height: 300px;
    overflow-y: auto;
    background: #0E3448;
	border: 1px solid #206A79;
	box-shadow: 0 0 6px 0 #122F34;
	border-radius: 2px;
    box-sizing: border-box;
	text-align: left;
	padding: 0;
	font-size: 12px;
}
.layui-form-select dl dd, .layui-form-select dl dt {
    line-height: 34px;
	position: relative;
	font-weight: normal;
}
.layui-form-select dl dd.layui-this {
    background: #12425A;
    color: #fff;
	font-weight: bold;
}
.layui-form-select dl dd:hover{
	background: #173F54;
	color: #fff;
}
.layui-form-select dl dd.layui-this:after{
    background: url(../images/icon_right_green.png) no-repeat center;
    display: block;
}
.layui-form-select dl dd:hover:after{
	display: block;
}
.layui-form-select dl dd:after{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 10px;
	width: 16px;
	height: 16px;
	content: '';
	background: url(../images/icon_right_gray.png) no-repeat center;
	display: none;
}
.control-style-wrap .layui-form-select dl{
	top: 26px;
}
.control-style-wrap .layui-form-select dl dd{
	border: none;
	line-height: 28px;
}
.layui-form-checkbox{
   background: #0E3448;
}
.layui-form-checkbox[lay-skin=primary] {
    height: auto!important;
    line-height: normal!important;
    border: none!important;
    margin-right: 0;
    padding-right: 0;
    background: 0 0;
	background: #0E3448;
	border: 1px solid #206A79;
	box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.40);
	border-radius: 3px;
}
.layui-form-checkbox[lay-skin=primary] i {
    border: 1px solid #206A79;
    border-radius: 3px;
    background-color: #0E3448;
	font-weight: bold;
}
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin-top: 4px;
}
.layui-form-checked[lay-skin=primary] i {
    background: #0E3448;
	border: 1px solid #206A79;
	box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.40);
	border-radius: 3px;
	color: #00C79C;
}
.layui-form-checkbox i{
	color: #0E3448;
}
.layui-form-checkbox[lay-skin=primary]:hover i{
	border-color: #206A79;
	color: #0E3448;
}
.layui-form-checked[lay-skin=primary]:hover i{
	border-color: #206A79;
	color: #00C79C;
}